body
{
    background-color: rgb(70, 68, 68);
}

h1
{
    position: relative;
    left: 500px;
    font-size: xx-large;
    font-family: monospace;
}

button
{
    width: 200px;
    height: 70px;
    background: rgb(102, 94, 94);
    position: relative;
    top: 300px;
    left: 35%;
}

.S:hover
{
    cursor: pointer;
    top: 100px;
    left: 200px;
}

.N:hover
{
    cursor: pointer;
}